[% INCLUDE site_header.tmpl title=title %]

<h2>${title}:</h2>
<ul class="posts">
[% FOREACH post=posts %]
	<li><span>${post.date}</span> &raquo; <a href="${site.prefix}/${post.path}.html">${post.title}</a></li>
[% END %]
</ul>

[% INCLUDE site_footer.tmpl %]
